<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link href="https://db.onlinewebfonts.com/c/c859c465ada9969752e18ff8366b6b81?family=Southwest+Sans+Bold" rel="stylesheet"> 
        <link rel="stylesheet" type=text/css href="{% static 'core/base.css' %}">
        <link rel="stylesheet" type=text/css href="{% static 'core/navbar.css' %}">
        <link rel="shortcut icon" type="image/svg" href="{% static 'core/favicon.svg' %}"/>
        <title>{% block title %}Sweetwest Airlines{% endblock %}</title>
        {% block extra_styles %}{% endblock %}
    </head>
    
    <body>
        <nav>
            <a href="/" style="padding: 1rem;">
                Sweetwest
                <img src="{% static 'core/favicon.svg' %}" height="30px" alt="SWA logo">
            </a>
            <ul>
                <li><a href="/"></a></li>
            </ul>
        </nav>
    
        <div class="content">
            {% block content %}
            <h1>Hello World!</h1>
            {% endblock %}
        </div>
    </body>
</html>
