<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link href="https://db.onlinewebfonts.com/c/c859c465ada9969752e18ff8366b6b81?family=Southwest+Sans+Bold" rel="stylesheet"> 
        <link rel="stylesheet" type=text/css href="{% static 'core/base.css' %}">
        <link rel="shortcut icon" type="image/svg" href="{% static 'core/favicon.svg' %}"/>
        <title>Sweetwest Airlines</title>
        <link rel="stylesheet" type=text/css href="{% static 'core/display.css' %}">
    </head>
    <body class="stripey">
        <table>
            <tr>
                <th>Flight</th>
                <th>Candy</th>
                <th>Destination</th>
                <th>Departing At</th>
                <th>Gate</th>
                <th>Status</th>
            </tr>
            {% for flight in flights %}
            <tr>
                <td>SWA00{{ flight.id }}</td>
                <td class="image-cell"><img src="/media/{{ flight.destination.candy.logo }}" alt="{{ flight.destination.candy }} logo"></td>
                <td>{{ flight.destination }}</td>
                <td>{{ flight.scheduled_departure }}</td>
                <td>{{ flight.gate }}</td>
                <td>On Time</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
