{% extends 'core/base.html' %}
{% block extra_styles %}
    {% load static %}
    <link rel="stylesheet" type=text/css href="{% static 'core/button.css' %}">
    <link rel="stylesheet" type=text/css href="{% static 'core/table.css' %}">
{% endblock %}
{% block content %}
<div>
    <h1>Flight management</h1>
    {% if flight %}
    <h2>{{ ticket.first_name }} {{ ticket.costume }}</h2>
    <p>
        Flight {{ flight.id }} departing from {{ flight.gate }}
    </p>
    <div class="flex-row">
        <button><a href="/boarding/{{ flight.id }}">Start boarding</a></button>
        <button style="margin: 15px;"><a href="/flight/{{ flight.id }}/takeoff/">Mark flight departed</a></button>
    </div>
    {% else %}
    <p>
        Search for a flight by number:
        <form action="/flight/" method="post">
            {% csrf_token %}
            <input type="text" name="id" placeholder="Flight number">
            <input type="submit" value="Search">
        </form>
    </p>
    <table>
        <thead>
            <tr>
                <th>Flight number</th>
                <th>Destination</th>
                <th>Gate</th>
                <th>Departure time</th>
                <th>Status</th>
                <th>Capacity (booked / available)</th>
            </tr>
        </thead>
        <tbody>
            {% for flight in flight_list %}
            <tr>
                <td><a href="/flight/{{ flight.id }}">{{ flight.id }}</a></td>
                <td>{{ flight.destination }}</td>
                <td>{{ flight.gate }}</td>
                <td>{{ flight.scheduled_departure }}</td>
                <td>{{ flight.status }}</td>
                <td>{{ flight.ticket_set.count }} / {{ flight.capacity }}</td>
            </tr>
            {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}
