{% extends 'core/base.html' %}
{% block content %}
<div>
    <h1>Just <i style="color: var(--sweetwest-gold)">Plane</i> Sweet</h1>
    <p>
        Eventually you'll be able to use this website to:
        <ul>
            <li>
                <a href="/">Book a flight for a customer</a>
            </li>
            <li>
                <a href="ticket/">Check a customer's flight status</a>
            </li>
            <li>
                <a href="flight/">Adjust flight capacity</a>
            </li>
            <li>
                <a href="flight/">Change flight timing</a>
            </li>
            <li>
                <a href="/">View live flights</a>
            </li>
            <li>
                <a href="/">Run airport information screens</a>
            </li>
        </ul>
    </p>
</div>
{% endblock %}
