{% extends 'core/base.html' %}
{% block content %}
<div>
    <h1>Just <i style="color: var(--sweetwest-gold)">Plane</i> Sweet</h1>
    <p>
        You can use this website to:
        <ul>
            <li>
                <a href="book/">Book a flight for a customer</a>
            </li>
            <li>
                <a href="ticket/">Check a customer's flight status</a>
            </li>
            <li>
                <a href="flight/">Run boarding for a flight</a>
            </li>
            <li>
                <a href="display/">Run airport information screens</a>
            </li>
        </ul>
    </p>
    <p>
        <h2>Suggestions for stretch goals/improvements</h2>
        <ul>
            <li>Flight numbers could be prefixed with "SWA" and ideally not be sequential</li>
            <li>Add confirmation dialogue to "mark flight departed" button</li>
            <li>Add improved flight management interface</li>
            <li>Show useful error messages when ticket booking fails</li>
        </ul>
    </p>
</div>
{% endblock %}
