table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: var(--sweetwest-business);
    color: var(--sweetwest-gold);
    font-size: 1.2rem;
}

th, td {
    padding: 0.5rem;
    text-align: center;
}

tr {
    color: white;
    font-weight: bold;
}

tr:nth-child(odd) {
    background-color: var(--sweetwest-blue);
}

tr:nth-child(even) {
    background-color: var(--sweetwest-blue-darkest);
}

td img {
    width: auto;
    height: 100%;
    object-fit: cover;
}

.image-cell {
    padding: 0;
    height: 2rem;
}

.stripey {
    background-color: var(--sweetwest-blue);
    background-image: linear-gradient(0deg, 
        var(--sweetwest-blue-darkest) 25%,
        var(--sweetwest-blue) 25%,
        var(--sweetwest-blue) 50%,
        var(--sweetwest-blue-darkest) 50%,
        var(--sweetwest-blue-darkest) 75%,
        var(--sweetwest-blue) 75%,
        var(--sweetwest-blue) 100%);
    background-size: 100% 10rem;
}

.flight-delayed {
    color: var(--sweetwest-gold);
}

@keyframes blink {
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.flight-boarding {
    color: lime;
    animation: blink 1s ease infinite;
  }

.flight-last-call {
    color: red;
    animation: blink 1s ease infinite;
}
